#create Custom Container Image
#Push to DockerHub Registry
---
- hosts: localhost
  tasks:
  - name: Pull .war artifact from Artifactory
   # become: true
    get_url:
      url: http://34.70.70.150:8081/artifactory/libs-release/org/springframework/samples/spring-petclinic/2.0-SNAPSHOT/spring-petclinic-2.0-20201228.165234-11.war
      dest: target
      url_username: admin
      url_password: vivek9060

  - name: Log into DockerHub
    docker_login:
      username: "9060"
      password: "vivek9060"

  - name: Pull Tomcat  Container Image
    docker_image:
      name: tomcat:8.0
      source: pull

  - name: Build image and with build args
    docker_image:
      name: spring-petclinic-2.0-20201207.161559-2
      build:
        path: /var/lib/jenkins/workspace/Petclinic 
        pull: no
        args:
          listen_port: 8080
 
  - name: Push to docker hub
    docker_image:
      name: spring-petclinic-2.0-20201207.161559-2
      repository: 9060/petclinic:1.0
      push: yes
      source: local
